@handler Simple.Dinner.Index

<html>
<head>
    <title>Index</title>
</head>
<body>
<p>This is the Index</p>
<script type="text/javascript">
    function myFunction () {
        alert("Ian Hill is a nobber");
    }
</script>
<p>Click <a href="/hello">here</a> to go to the Hello Page</p>
<button onclick="myFunction()">Suprise!</button>

</body>
</html>